 <div class="contact-main">
   <img alt="Open" class="icon-menu" 
    src="https://www.dropbox.com/s/5cpju7xed5rynoz/vlcsnap-2015-04-06-23h28m14s92.png?dl=1" width="24px" /> <div class="content container"> <h1>Thanks. We'll be in touch.</h1> </div> </div> 